<% if display == 'block' %>
  <div class="<%= block_class_name %>">
    <span class="<%= bulma_class_names('title is-size-5 has-text-danger icon-text') %>">
      <%= render_icon %>

      <%= label %>
    </span>

    <% if message %>
      <p><%= message %></p>
    <% end %>
  </div>
<% else %>
  <span class="<%= inline_class_name %>">
    <%= render_icon %>

    <%= label %>
  </span>
<% end %>
