<div class="<%= field_class_name %>">
  <p class="<%= control_class_name %>">
    <%= render_submit_button %>
  </p>
  <% if render_cancel_button? %>
  <p class="<%= control_class_name %>">
    <%= render_cancel_button %>
  </p>
  <% end %>
</div>
